@font-face {
  font-family: "GT-America-Condensed-Black";
  src: url("/fonts/GT-America-Condensed-Black.woff2");
}
@font-face {
  font-family: "GT-America-Expanded-Black";
  src: url("/fonts/GT-America-Expanded-Black.woff2");
}
@font-face {
  font-family: "GT-Zirkon-Bold-Italic";
  src: url("/fonts/GT-Zirkon-Bold-Italic.woff2");
}
@font-face {
  font-family: "GT-Zirkon-Bold";
  src: url("/fonts/GT-Zirkon-Bold.woff2");
}
@font-face {
  font-family: "GT-Zirkon-Book";
  src: url("/fonts/GT-Zirkon-Book.woff2");
}
@font-face {
  font-family: "GT-Zirkon-Medium";
  src: url("/fonts/GT-Zirkon-Medium.woff2");
}

.mobile-only {
  display: none;
}

#content {
  font-family: 'GT-Zirkon-Book';
  margin: 0 100px 50px 100px;
  padding: 0 5px;
}

::selection {
  background: #FF2D00; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #FF2D00; /* Gecko Browsers */
}

#main-content {
  position: relative;
}

.zirkon-book {
  font-family: 'GT-Zirkon-Book';
}

.bold {
  font-family: 'GT-Zirkon-Bold';
}

.bold-italic {
  font-family: "GT-Zirkon-Bold-Italic";
}

.zirkon-medium {
  font-family: "GT-Zirkon-Medium";
}

.condensed-black {
  font-family: "GT-America-Condensed-Black";
}

.expanded-black {
  font-family: "GT-America-Expanded-Black";
}

.uppercase {
  text-transform: uppercase;
}

nav {
  border-bottom: 4px solid black;
  padding: 40px 0 30px;
  font-size: 22px;
}

.nav-element {
  text-align: right;
}

.take-action-nav {
  margin-left: 50px;
}

#take-action-modal .modal-section {
  border-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.modal-open-text.selected {
  font-family: 'GT-Zirkon-Bold';
}

.nav-element:hover {
  cursor: pointer;
}

.center {
  text-align: center;
}

h1 {
  font-size: 110px;
  line-height: 0.9;
  letter-spacing: -1px;
}

h1 .small {
  font-size: 55px;
  line-height: 1;
  margin-left: 2px;
}

a {
  color: black;
  text-decoration: underline;
}

.heading {
  margin-bottom: 60px;
  display: block;
  position: relative;
}

.heading-dot-container {
  position: absolute;
  top: 50px;
  right: 0.5rem;
}

.dot {
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.social-links {
  right: 25px;
  bottom: 20px;
  position: fixed;
  z-index: 10;
}

.social-link:hover {
  opacity: 0.75;
}

.social-link {
  margin-bottom: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
}

.social-link img {
  height: 100%;
  width: 100%;
}

.social-link:hover {
  cursor: pointer;
}

.top-section {
  padding: 0 25px;
}

.heading-description {
  position: relative;
}

.heading-description p {
  margin-bottom: 20px;
  line-height: 1.45;
  font-size: 25px;
}

.exhibits {
  border-bottom: 2px solid black;
  margin-top: 40px;
}

.exhibit-section {
  padding: 0 25px;
  border-top: 2px solid black;
}

.exhibit {
  vertical-align: text-top;
  padding-top: 30px;
  padding-bottom: 30px;
  transition-property: opacity;
  transition-duration: 0.4s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.4s;
}

.exhibit:hover {
  cursor: pointer;
  opacity: 0.75;
}

.exhibit-text {
  vertical-align: top;
}

.exhibit-number {
  vertical-align: top;
  font-size: 60px;
  position: relative;
  top: 10px;
}

.exhibit-read-by {
  position: relative;
  top: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.1;
}

.exhibit-reader {
  font-size: 40px;
  margin-bottom: 3px;
  line-height: 1.2;
}

.exhibit-title {
  font-size: 20px;
  line-height: 1.3;
}

.exhibit-large {
  font-size: 130px;
}

.info-container {
  position: relative;
  width: inherit;
  display: inline-block;
}

.reader-info, .declaration-info {
  float: left;
  padding-top: 12px;
  margin-right: -1000px;
}

.video-row {
  max-height: 0px;
  transition-property: max-height;
  transition-duration: 0.5s;
  -webkit-transition-property: max-height;
  -webkit-transition-duration: 0.5s;
  overflow-y: hidden;
  position: relative;
}

.video-content {
  width: 93%;
}

.share-section {
  position: absolute;
  top: 0;
  right: 0;
}

.share-box {
  background-color: white;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  border: 2px solid black;
  width: 330px;
}

.share-text {
  padding-bottom: 10px;
}

.share-url a:hover {
  opacity: 0.75;
}

.copy-icon {
  width: 62px;
  height: 62px;
}

.copy-icon-container {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 13px;
}

.copy-icon-text, .link-copied-text {
  color: white;
  text-align: center;
  position: relative;
  top: 18px;
  left: 14px;
}

.copy-icon .link-copied-text {
  display: none;
}

.link-copied {
  opacity: 0.75;
}

.link-copied .link-copied-text {
  display: block;
}

.link-copied .copy-icon-text {
  display: none;
}

.link-copied-text {
  left: 0px;
}

.share-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.share-icon:hover, .copy-icon:hover {
  opacity: 0.75;
  cursor: pointer;
}

.exhibit-open .video-row {
  max-height: 800px;
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

.credits {
  margin-top: 60px;
  overflow: hidden;
  position: relative;
}

.credits-dot-container {
  position: absolute;
  top: 0;
  left: 25px;
}

.credits-description {
  padding-bottom: 40px;
  display: block;
}

.credits-description:after {
  content: '';
  display: block;
  border-bottom: 2px solid;
  z-index: 0;
}

.credits-description p {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.credits-description-text {
  margin-bottom: 60px;
}

.credits-icons {
  margin-top: 0;
  margin-bottom: 20px;
}

.credits-icon-container {
  padding-left: 10px;
}

.credits-icon {
  margin-right: 40px;
  max-width: 25%;
}

.credits-icon img {
  max-width: 100%;
}

.bac-icon-container {
  margin-right: 30px;
}

.credits-butter {
  margin-top: 20px;
  padding-top: 40px;
  border-top: 2px solid black;
  font-size: 24px;
}

.credits-presented-by {
  font-size: 20px;
  margin-bottom: 40px;
}

.credits-presented-by-container {
  border-top: 2px solid black;
  padding-top: 60px;
}

.credits-support {
  padding-top: 60px;
  margin-bottom: 60px;
}

.waterwell-logo {
  position: relative;
  top: 10px;
}

.bac-logo {
  width: 160px;
}

.amplify-logo {
  width: 200px;
  top: -20px;
  position: relative;
}

.amplify-logo-modal {
  width: 220px;
  top: -5px;
  position: relative;
}

.cisc-logo {
  width: 260px;
  max-width: 100%;
}

.irc-logo {
  position: relative;
  top: 10px;
  width: 250px;
  max-width: 100%;
}

.modal {
  max-height: 0px;
  position: absolute;
  z-index: 10;
  left: 0;
  top: -4px;
  background-color: white;
  transition-property: max-height;
  transition-duration: 1s;
  -webkit-transition-property: max-height;
  -webkit-transition-duration: 1s;
  overflow: hidden;
}

.modal-border {
  border: 3px solid black;
}

.modal-opened {
  max-height: 2000px;
}

.modal-content {
  padding: 80px 90px 80px 80px;
}

.modal-body {
  padding-top: 80px;
  font-size: 25px;
  line-height: 1.45;
}

.modal-section {
  padding-left: 0;
  padding-right: 0;
  border-bottom: 2px solid black;
  padding-bottom: 80px;
}

.modal-body p {
  margin-bottom: 20px;
}

.contact-us {
  margin-bottom: 0 !important;
}

/* The Close Button */
.modal-close {
  color: black;
  float: right;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal h2 {
  font-size: 90px;
}

.modal-heading-small {
  font-size: 40px;
  vertical-align: top;
  position: relative;
  top: 6px;
}

.modal-logo {
  margin-bottom: 40px;
  margin-right: 40px;
}

.modal-amplify-container {
  position: relative;
  top: -20px;
}

.modal-credit {
  border-top: 2px solid black;
  padding-top: 80px;
}

.action-ideas {
  padding-top: 60px;
  font-family: "GT-America-Condensed-Black";
  font-size: 40px;
}

.action-ideas .small {
  font-size: 20px;
  vertical-align: top;
  position: relative;
  top: 8px;
}

@media only screen and (min-device-width : 820px) {
  .exhibit-text {
    display: inline-block;
    width: 830px;
  }

  .reader-info div, .declaration-info div {
    max-width: calc(98vw - 1030px);
  }
}

@media only screen and (min-device-width : 820px) and (max-device-width : 1100px) {
  .reader-info div, .declaration-info div {
    max-width: 830px;
  }
}

@media only screen and (max-device-width : 820px) {
  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }

  body {
    margin-left: 14px;
    margin-right: 10px;
    margin-bottom: 200px;
  }

  #content {
    margin: auto;
    margin-top: 20px;
    border-top: 2px solid black;
    padding: 0;
  }

  .top-section {
    padding: 0;
  }

  .tap-to-watch {
    margin-bottom: 30px;
    margin-left: 10px;
  }

  h1 {
    font-size: 60px;
  }

  h1 .small {
    font-size: 30px;
  }

  .modal {
    margin-left: 0px;
    margin-right: -1px;
  }

  .modal-content {
    padding: 20px;
  }

  .modal h2 {
    font-size: 30px;
  }

  .modal-heading-small {
    font-size: 20px;
    top: 6px;
  }

  .modal-section {
    padding-bottom: 20px;
  }

  .modal-body {
    padding-top: 30px;
    font-size: 18px;
    line-height: 1.4;
  }

  .modal-close img {
    height: 25px;
  }

  .modal-logos {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .modal-logo {
    margin-bottom: 20px;
  }

  .modal-logo img {
    max-width: 250px;
  }

  .modal-credit {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #about-modal .waterwell-logo {
    width: 200px;
  }

  .modal-bac-container {
    padding-bottom: 0;
    margin-top: 5px;
  }

  .action-ideas {
    font-size: 20px;
    padding-top: 20px;
  }

  .action-ideas .small {
    font-size: 12px;
    top: 4px;
  }

  .menu-icon-container {
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 2;
  }

  .menu-icon {
    transition-property: transform;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    -webkit-transition-duration: 0.5s;
    width: 40px;
  }

  .menu-icon.rotated {
    transform: rotate(90deg);
  }

  .dropdown-menu-container {
    position: fixed;
    top: 20px;
    right: 15px;
    background-color: white;
    z-index: 1;
    max-height: 0px;
    overflow: hidden;
    transition-property: max-height;
    transition-duration: 0.5s;
    -webkit-transition-property: max-height;
    -webkit-transition-duration: 0.5s;
  }

  .dropdown-menu-container-open {
    max-height: 150px;
  }

  .dropdown-menu-container-border {
    border: 3px solid black;
  }

  .dropdown-menu {
    padding: 35px 50px 20px 20px;
  }

  .dropdown-menu li {
    font-size: 25px;
    padding-bottom: 15px;
  }

  .heading-description p {
    margin-bottom: 20px;
    line-height: 1.3;
    font-size: 20px;
    padding: 0px 10px;
    margin-right: 10px;
  }

  .exhibit-section {
    padding: 0;
  }

  .exhibit {
    padding-left: 10px;
    padding-bottom: 5px;
  }

  .exhibit-large {
    font-size: 55px;
  }

  .exhibit-number {
    font-size: 30px;
    top: 4px;
  }

  .video-content {
    width: auto;
  }

  .dot {
    height: 30px;
    width: 30px;
  }

  .mobile-reader-info div {
    display: inline-block;
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .mobile-exhibit-read-by {
    font-size: 12px;
    position: relative;
    top: -3px;
  }

  .mobile-exhibit-reader {
    font-size: 20px;
  }

  .mobile-exhibit-title {
    line-height: 1.4;
  }

  .share-section-mobile {
    padding-top: 15px;
    position: relative;
    height: 60px;
  }

  .share-url, .share-text {
    display: inline-block;
  }

  .copy-icon-container {
    top: 10px;
    right: 3px;
    font-size: 14px;
  }

  .copy-icon {
    width: 55px;
    height: 55px;
  }

  .copy-icon-text {
    top: 13px;
    left: 9px;
  }

  .link-copied-text {
    top: 11px;
    left: 0px;
  }

  .exhibit-open .video-row {
    margin-bottom: 0px;
  }

  .credits {
    padding: 0;
    margin-top: 40px;
  }

  .credits-dot-container {
    left: 10px;
    top: 2px;
  }

  .credits-description-text {
    margin-bottom: 40px;
  }

  .credits-description {
    margin-right: 10px;
  }

  .credits-description p {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 20px;
  }

  .credits-icons {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .credits-icon {
    padding-bottom: 20px;
    margin-bottom: 10px;
  }

  .bac-icon-container {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .credits-butter {
    font-size: 20px;
  }

  .credits-presented-by {
    margin-bottom: 15px;
  }

  .credits-presented-by-container {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .amplify-logo-container {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .social-links {
    right: 20px;
  }

  .social-link {
    height: 40px;
    width: 40px;
  }
}

@media only screen and (max-device-width : 320px) {
  .exhibit-large {
    font-size: 46px;
  }

  .exhibit-number {
    font-size: 28px;
  }
}
