@font-face {
  font-family: "GT-America-Condensed-Black";
  src: url("/fonts/GT-America-Condensed-Black.woff2");
}
@font-face {
  font-family: "GT-America-Expanded-Black";
  src: url("/fonts/GT-America-Expanded-Black.woff2");
}
@font-face {
  font-family: "GT-Zirkon-Bold-Italic";
  src: url("/fonts/GT-Zirkon-Bold-Italic.woff2");
}
@font-face {
  font-family: "GT-Zirkon-Bold";
  src: url("/fonts/GT-Zirkon-Bold.woff2");
}
@font-face {
  font-family: "GT-Zirkon-Book";
  src: url("/fonts/GT-Zirkon-Book.woff2");
}
@font-face {
  font-family: "GT-Zirkon-Medium";
  src: url("/fonts/GT-Zirkon-Medium.woff2");
}

#content {
  font-family: 'GT-Zirkon-Book';
  margin: 0 100px 50px 100px;
  padding: 0 5px;
}

#main-content {
  position: relative;
}

.zirkon-book {
  font-family: 'GT-Zirkon-Book';
}

.bold {
  font-family: 'GT-Zirkon-Bold';
}

.bold-italic {
  font-family: "GT-Zirkon-Bold-Italic";
}

.zirkon-medium {
  font-family: "GT-Zirkon-Medium";
}

.condensed-black {
  font-family: "GT-America-Condensed-Black";
}

.expanded-black {
  font-family: "GT-America-Expanded-Black";
}

.uppercase {
  text-transform: uppercase;
}

nav {
  border-bottom: 4px solid black;
  padding: 30px 0 30px;
  font-size: 24px;
}

.nav-element {
  text-align: right;
}

.nav-element:hover {
  cursor: pointer;
}

.center {
  text-align: center;
}

h1 {
  font-size: 130px;
  line-height: 117px;
  letter-spacing: -1px;
}

h1 .small {
  font-size: 65px;
  line-height: 65px;
  margin-left: 2px;
}

a {
  color: black;
  text-decoration: none;
}

.heading {
  margin-bottom: 60px;
  display: block;
  position: relative;
}

.heading-dot-container {
  position: absolute;
  top: 50px;
  right: 0.5rem;
}

.dot {
  height: 45px;
  width: 45px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.social-links {
  right: 25px;
  bottom: 20px;
  position: fixed;
}

.social-link {
  margin-bottom: 10px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 3px solid black;
  text-align: center;
  font-size: 35px;
}

.social-link-text {
  position: relative;
  top: 12px;
}

.social-link:hover {
  cursor: pointer;
}

.top-section {
  padding: 0 25px;
}

.heading-description {
  position: relative;
}

.heading-description p {
  margin-bottom: 20px;
  line-height: 1.2;
  font-size: 30px;
}

.exhibits {
  border-bottom: 2px solid black;
  margin-top: 40px;
}

.exhibit-section {
  padding: 0 25px;
  border-top: 2px solid black;
}

.exhibit {
  vertical-align: text-top;
  padding-top: 30px;
  padding-bottom: 30px;
}

.exhibit:hover {
  cursor: pointer;
}

.exhibit-number {
  vertical-align: top;
  font-size: 60px;
  position: relative;
  top: 10px;
}

.exhibit-read-by {
  position: relative;
  top: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
}

.exhibit-reader {
  font-size: 50px;
  margin-bottom: 3px;
  line-height: 1.2;
}

.exhibit-title {
  font-size: 26px;
}

.exhibit-large {
  font-size: 130px;
}

.info-container {
  position: relative;
}

.reader-info, .declaration-info {
  position: absolute;
  top: 0;
  left: 0;
}

.video-row {
  max-height: 0px;
  transition-property: all;
  transition-duration: 0.5s;
  overflow-y: hidden;
}

.exhibit-open .video-row {
  max-height: 800px;
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

.vimeo {
  margin: auto;
  display: block;
}

.credits {
  margin-top: 60px;
  overflow: hidden;
  position: relative;
  padding: 0 25px;
}

.credits-dot-container {
  position: absolute;
  top: 0;
  left: 25px;
}

.credits-description {
  padding-bottom: 40px;
  padding-right: 0px;
  display: block;
}

.credits-description:after {
  content: '';
  display: block;
  border-bottom: 2px solid;
  z-index: 0;
}

.credits-description p {
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.credits-icons {
  margin-top: 20px;
}

.modal {
  max-height: 0px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: -4px;
  overflow: auto;
  border: 3px solid black;
  background-color: white;
  transition-property: all;
  transition-duration: 1s;
  overflow-y: hidden;
}

.modal-opened {
  max-height: 1300px;
  transition-property: all;
  transition-duration: 1s;
}

.modal-content {
  padding: 80px 90px 80px 80px;
}

.modal-body {
  padding-top: 80px;
  font-size: 30px;
  line-height: 1.4;
}

.modal-section {
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid black;
  padding-bottom: 80px;
}

.modal-body p {
  margin-bottom: 20px;
}

/* The Close Button */
.modal-close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal h2 {
  font-size: 90px;
}

.modal-heading-small {
  font-size: 40px;
  vertical-align: top;
  position: relative;
  top: 6px;
}

.modal-logos {
  padding: 80px 0;
}

.modal-credit {
  padding-left: 0px;
  padding-top: 80px;
}

.modal-credit a {
  text-decoration: underline;
}

.action-ideas {
  padding-top: 60px;
  font-family: "GT-America-Condensed-Black";
  font-size: 40px;
}

.action-ideas .small {
  font-size: 20px;
  vertical-align: top;
  position: relative;
  top: 8px;
}
