@font-face {
  font-family: "GT-America-Condensed-Black";
  src: url("fonts/GT-America-Condensed-Black.woff2");
}
@font-face {
  font-family: "GT-America-Expanded-Black";
  src: url("fonts/GT-America-Expanded-Black.woff2");
}
@font-face {
  font-family: "GT-Zirkon-Bold-Italic";
  src: url("fonts/GT-Zirkon-Bold-Italic.woff2");
}
@font-face {
  font-family: "GT-Zirkon-Bold";
  src: url("fonts/GT-Zirkon-Bold.woff2");
}
@font-face {
  font-family: "GT-Zirkon-Book";
  src: url("fonts/GT-Zirkon-Book.woff2");
}
@font-face {
  font-family: "GT-Zirkon-Medium";
  src: url("fonts/GT-Zirkon-Medium.woff2");
}

#content {
  max-width: 800px;
  margin: auto;
  font-family: 'GT-Zirkon-Medium';
  margin-bottom: 50px;
  padding: 0 5px;
}

.emphasis {
  font-weight: 800;
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

nav {
  overflow: hidden;
  margin-top: 10px;
  padding-bottom: 15px;
  border-bottom: 4px solid black;
}

nav div {
  padding: 14px 0px;
}

.nav-element {
  margin-left: 40px;
}

.nav-element:hover {
  cursor: pointer;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

h1 {
  font-size: 55px;
  color: #000000;
  letter-spacing: 0;
  line-height: 60px;
}

h1 .small {
  font-size: 40px;
}

a {
  color: black;
  text-decoration: none;
}

.heading {
  margin: 40px 0;
  display: block;
  overflow: hidden;
}

.dot {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.social-links {
  margin-left: -100px;
  margin-top: 200px;
  width: 50px;
  float: right;
}

.social-link {
  margin-bottom: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid black;
  line-height: 40px;
  text-align: center;
}

.social-link:hover {
  cursor: pointer;
}

.heading-description {
  overflow: hidden;
  width: 110%;
}

.heading-description-text {
  float: left;
  margin-left: 20%;
  margin-right: 10%;
}

.heading-description p {
  margin-bottom: 20px;
  line-height: 1.2;
  font-size: 20px;
}

.exhibits {
  border-top: 2px solid black;
  margin-top: 40px;
}

.exhibit {
  border-bottom: 2px solid black;
  padding: 20px 0;
}

.exhibit {
  vertical-align: top;
}

.exhibit-left, .exhibit-right {
  display: inline-block;
}

.exhibit-left {
  min-width: 150px;
  padding-right: 30px;
}

.exhibit-small {
  font-size: 12px;
}

.exhibit-large {
  font-size: 50px;
}

.credits {
  margin-top: 50px;
  overflow: hidden;
}

.credits-left {
  float: left;
  width: 20%;
}

.credits-description {
  display: inline-block;
  width: 80%;
  padding-bottom: 40px;
  border-bottom: 2px solid black;
}
