<!DOCTYPE html>
<html>
<%= head %>
<body>
  <div id="content">
    <%= navbar %>
    <div id="main-content">
      <%= aboutModal %>
      <%= takeActionModal %>
      <%= topSection %>
      <div class="exhibits">
        <% _.forEach(exhibits, function(exhibit) { %>
          <div class="exhibit-section">
            <div class="exhibit row">
              <div class="col-xs-7 exhibit-large condensed-black uppercase">
                Exhibit&nbsp;
                <span class="exhibit-number">#&nbsp;</span><span class="expanded-black"><%= exhibit.number %></span>
              </div>
              <div class="col-xs-5 info-container">
                <div class="reader-info">
                  <div class="exhibit-read-by zirkon-medium">
                    read by
                  </div>
                  <div class="exhibit-reader bold-italic">
                    <%= exhibit.reader %>
                  </div>
                  <div class="exhibit-title uppercase">
                    <%= exhibit.readerTitle %>
                  </div>
                </div>
                <div class="declaration-info hidden">
                  <div class="exhibit-read-by zirkon-medium">
                    declaration of
                  </div>
                  <div class="exhibit-reader bold-italic">
                    <%= exhibit.declarationName %>
                  </div>
                  <div class="exhibit-title uppercase">
                    <%= exhibit.declarationTitle %>
                  </div>
                </div>
              </div>
            </div>
            <div class="video-row row">
              <div class="col-xs">
                <iframe class="vimeo" src="<%= exhibit.videoLink %>" width="1280" height="744" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
      <%= credits %>
    </div>
  </div>
  <%= socialLinks %>
  <script type="text/javascript" src="js/script.js"></script>
</body>
</html>
