<!DOCTYPE html>
<html>
<%= head %>
<body>
  <div id="content">
    <%= navbar %>
    <div id="main-content">
      <%= aboutModal %>
      <%= takeActionModal %>
      <%= topSection %>
      <div class="exhibits">
        <% _.forEach(exhibits, function(exhibit) { %>
          <div class="exhibit-section">
            <div class="exhibit row">
              <div class="col-xs">
                <div class="exhibit-large exhibit-text condensed-black uppercase">
                  Exhibit<span class="desktop-only">&nbsp;</span>
                  <span class="exhibit-number">
                    #<span class="desktop-only">&nbsp;</span>
                  </span>
                  <span class="expanded-black">
                    <%= exhibit.number %>
                  </span>
                </div>
                <div class="info-container desktop-only">
                  <div class="reader-info">
                    <div class="exhibit-read-by zirkon-book">
                      read by
                    </div>
                    <div class="exhibit-reader bold-italic">
                      <%= exhibit.reader %>
                    </div>
                    <div class="exhibit-title uppercase">
                      <%= exhibit.readerTitle %>
                    </div>
                  </div>
                  <div class="declaration-info hidden">
                    <div class="exhibit-read-by zirkon-medium">
                      declaration of
                    </div>
                    <div class="exhibit-reader bold-italic">
                      <%= exhibit.declarationName %>
                    </div>
                    <div class="exhibit-title uppercase">
                      <%= exhibit.declarationTitle %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mobile-reader-info row mobile-only">
              <div class="col-xs">
                <div class="mobile-exhibit-read-by zirkon-medium">
                  read by
                </div>
                <div class="mobile-exhibit-reader bold-italic">
                  <%= exhibit.reader %>
                </div>
                <div class="mobile-exhibit-title uppercase">
                  <%= exhibit.readerTitle %>
                </div>
              </div>
            </div>
            <div class="video-row row">
              <div class="col-xs">
                <iframe class="vimeo" src="<%= exhibit.videoLink %>" width="1280" height="744" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
      <%= credits %>
    </div>
  </div>
  <%= socialLinks %>
  <script type="text/javascript" src="js/script.js"></script>
</body>
</html>
